<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.3.5" package="com.darktower.bus" android:installLocation="preferExternal" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Rozkład jazdy MZK Wejherowo" android:theme="@style/MainTheme" android:icon="@mipmap/icon" android:roundIcon="@mipmap/icon_round" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>